In [1]:
import datetime
import pandas as pd
from dateutil.relativedelta import relativedelta
import os
import math

In [2]:
def getQuarters(curDate, prevDate):
    
    prevMon = prevDate.strftime("%b")
    curMon = curDate.strftime("%b")
    prevYear = prevDate.strftime("%Y")
    curYear = curDate.strftime("%Y")
    curQuarter = f"{curMon} {curYear}"
    prevQuarter = f"{prevMon} {prevYear}"
    return curQuarter, prevQuarter

def quarterList():
    lst = []
    date = datetime.datetime(2022,12,1)
    minDate = datetime.datetime(2017,1,1)
    while(date > minDate):
        prevDate = date-relativedelta(months=3)
        curQuarter, prevQuarter = getQuarters(date, prevDate)
        lst.append([curQuarter, prevQuarter])
        date = prevDate
    return lst

In [3]:
quarterPairs = quarterList()
quarter_result_dates = pd.read_csv("C:\\Users\\garya\\ML projects\\Stock analysis\\datasets\\quarterlyResultDatesUpdated.csv", index_col= False)

In [4]:
quarterly_df = pd.read_csv("C:\\Users\\garya\\ML projects\\Stock analysis\\datasets\\quarterlyResultsNSEWithBanks.csv").set_index('symbol')

In [5]:
quarter_result_dates = quarter_result_dates.fillna("")
quarter_result_dates = quarter_result_dates[quarter_result_dates['nsesymbol'] != '0']
quarter_result_dates = quarter_result_dates.reset_index()

In [6]:
quarter_result_dates

,index,companyname,companycode,nsesymbol,bsesymbol,Sep 2021,Mar 2021,Dec 2021,Sep 2020,Jun 2020,...,Sep 1998,Jun 1998,Sep 1997,Dec 2010,Mar 1997,Mar 1999,Mar 1998,Jun 1997,Dec 1997,Dec 1996
0,1,amjumbobags,JB03,AMJUMBO,0.0,26-10-2021,30-06-2021,,09-11-2020,21-08-2020,...,,,,,,,,,,
1,2,abinfrabuild,I07,ABINFRA,0.0,27-10-2021,29-06-2021,,13-11-2020,30-07-2020,...,,,,,,,,,,
2,8,a2zinfraengineering,AME02,A2ZINFRA,533292.0,12-11-2021,,13-02-2021,10-11-2020,30-07-2020,...,,,,,,,,,,
3,10,aaatechnologies,ATL,AAATECH,543671.0,02-11-2021,25-06-2021,,11-11-2020,,...,,,,,,,,,,
4,14,aakashexplorationservices,AES01,AAKASH,0.0,,28-06-2021,29-01-2022,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2885,5749,250goldbonds2026sriii,SGBNO6355,SGBNOV26,0.0,,,,,,...,,,,,,,,,,
2886,5750,250goldbonds2025sriii,SGBOC250,SGBOCT25,0.0,,,,,,...,,,,,,,,,,
2887,5751,250goldbonds2025sriv,SGB11,SGBOCT25IV,0.0,,,,,,...,,,,,,,,,,
2888,5752,250goldbonds2025srv,SGBOC355,SGBOCT25V,0.0,,,,,,...,,,,,,,,,,
2889,5753,250goldbonds2026srii,SGBOC5960,SGBOCT26,0.0,,,,,,...,,,,,,,,,,

In [7]:
print(quarter_result_dates.loc[2])

index                            8
companyname    a2zinfraengineering
companycode                  AME02
nsesymbol                 A2ZINFRA
bsesymbol                 533292.0
                      ...
Mar 1999
Mar 1998
Jun 1997
Dec 1997
Dec 1996
Name: 2, Length: 110, dtype: object

In [8]:
temp_data = quarter_result_dates.loc[0]

In [9]:
temp_data = temp_data.dropna()
temp_data

index                    1
companyname    amjumbobags
companycode           JB03
nsesymbol          AMJUMBO
bsesymbol              0.0
                  ...
Mar 1999
Mar 1998
Jun 1997
Dec 1997
Dec 1996
Name: 0, Length: 110, dtype: object

In [92]:
#   0         0          0         0
#   8         4          2         1
#(profit) (revenue)  (Ebitda) `(margin)

def getBit(str1, str2):
#     print(str1,str2)
#     print(str1, str2)
    if(math.isnan(str1)  or math.isnan(str2)):
        return 20
    a = float(str1)
    b = float(str2)
    change = a - b
    if(change > 0):
        return 1
    return 0

def generateCategory(prevQuarter, curQuarter, fundamental_row):
    try:
        ans = 0
        marginBit,marginChange = getBit(fundamental_row[f"Margin {curQuarter}"], fundamental_row[f"Margin {prevQuarter}"])
        ebitdaBit,ebitdaChange = getBit(fundamental_row[f"EBITDA {curQuarter}"], fundamental_row[f"EBITDA {prevQuarter}"])
        revenueBit,revenueChange = getBit(fundamental_row[f"Revenue {curQuarter}"], fundamental_row[f"Revenue {prevQuarter}"])
        profitBit,profitChange = getBit(fundamental_row[f"Profit {curQuarter}"], fundamental_row[f"Profit {prevQuarter}"])

        ans += marginBit*1
        ans += ebitdaBit*2 
        ans += revenueBit*4
        ans += profitBit*8
        
        if(ans > 15):
            return -1
        return ans
    except Exception as e:
        print("category", e)
        return -1

def getCurPrice(date, symbol, flag=True):
    if(flag):
        date = date.split("-")
        if(len(date) == 1):
            date = date[0].split("/")
        date = datetime.datetime(int(date[2]),int(date[1]),int(date[0]) )
        
    minDate = datetime.datetime(2017,1,1)
    while(date > minDate ):
        try:
            YY = date.strftime("%Y")
            mon = date.strftime("%b").upper()
            dd = date.strftime("%d")
            df = pd.read_csv(f"C:\\Users\\garya\\ML projects\\Stock analysis\\datasets\\nsedataPrevious5years\\cm{dd}{mon}{YY}bhav.csv").set_index("SYMBOL")
            if(symbol not in df.index):
                return -1
            ans = df['CLOSE'][symbol]
            return ans
        except Exception as e:
            x = 1           
#           print(e)
                
        finally:
            date -= datetime.timedelta(days=1)
    return -1

def getHighLowValues(date, symbol):
#     print(symbol)
    high = getCurPrice(date,symbol)
    low = high
    date = date.split("-")
    if(len(date) == 1):
        date = date[0].split("/")
    date = datetime.datetime(int(date[2]),int(date[1]),int(date[0]) )
    for i in range(1,90):
        date += datetime.timedelta(days=1)
        val = float(getCurPrice(date,symbol,False))
        if(val == -1):
            continue
        high = max(high,val )
        low = min(low, val)
    
    return high,low

In [79]:
print(getCurPrice("28-02-2021", "3MINDIA"))
print(getHighLowValues("28-02-2021", "3MINDIA"))

22832.75
(30436.65, 22832.75)

In [80]:
quarter_result_dates.iloc[0]

level_0                  1
index                    1
companyname    amjumbobags
companycode           JB03
nsesymbol          AMJUMBO
                  ...
Mar 1999
Mar 1998
Jun 1997
Dec 1997
Dec 1996
Name: 0, Length: 111, dtype: object

In [81]:
for i in range(2,3):
# for i in range(6,7):
    print(i)
    try: 
        date_row = quarter_result_dates.iloc[i]
#         print(date_row)
        symbol = date_row['nsesymbol']
        companyname = date_row['companyname']
        companycode = date_row['companycode']
        columns = date_row.index
        fundamental_row = quarterly_df.loc[symbol]
#         print(fundamental_row)
        for qtr in quarterPairs:
            try:
                curQuarter = qtr[0]
                prevQuarter = qtr[1]
                
                if((curQuarter in columns)):
                    category = generateCategory(prevQuarter, curQuarter, fundamental_row)
                    if(category == -1):
                        continue
                    print(symbol, curQuarter, prevQuarter)
                    print(category)
                    highValue , lowValue = getHighLowValues(date_row[curQuarter], symbol)
#                     print(highValue, lowValue)
                    curPrice = getCurPrice(date_row[curQuarter], symbol)
                    if(curPrice == -1):
                        continue
                    highChange = (highValue-curPrice)/curPrice
                    lowChange = (lowValue-curPrice)/curPrice

                    if(abs(highChange) > abs(lowChange)):
                        change = highChange
                    else:
                        change = lowChange

                data = {
                    "SYMBOL" : symbol,
                    "Company Name" : companyname,
                    "Company Code" : companycode,
                    "Quarter" : f"{prevQuarter} - {curQuarter}",
                    "Result Date": date_row[curQuarter],
                    "Price on Result Date": curPrice,
                    "High in next 90 days" : highValue,
                    "Low in next 90 days" : lowValue, 
                    "Change" : change, 
                }
                temp_df = pd.DataFrame(data, index=[1])
                
                output_path= f"C:\\Users\\garya\\ML projects\\Stock analysis\\datasets\\16categories\\category_number_{category}.csv"
                temp_df.to_csv(output_path, mode='a', header=not os.path.exists(output_path), index = False)
            except Exception as e:
                print("For", e)
            
    except Exception as e:
        print("main", e)

2
category 'Margin Dec 2022'
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str
category must be real number, not str

In [13]:
float()

0.0